html{
	height: 100%;
}
body{
	background: url('../img/background.jpg') fixed top;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Helvetica Neue Cyr Thin";
	color: #ffffff;
	background-color: #092915;
	font-size: 14px;
}
@font-face {
   	 font-family: 'Helvetica Neue Cyr Thin';
     src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
     src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
     url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
     url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
.header{
	background-image: url('../img/header-background.jpg');
	padding-right: 20px;
}
.header1, .header2{
	float: right;
}
.header1 li, .header2 li{
	position: relative;
    float: left;
    list-style: none;
    font-weight: bolder;
    display: block;
}
.header1 li a, .header2 li a{
	position: relative;
	display: block;
	line-height: 35px;
	color: #60b5ed;
	text-decoration: none;
	padding: 0px 15px;
}
.header1 li a{
	color: #fff;
}
.header2 li a:hover{
	background-color: #4eabda;
	color: #fff;
}
.underline-on:hover{
	text-decoration: underline;
}
.underline:hover{
	text-decoration: none;
}

.header1 li:last-child{
	background: linear-gradient(to bottom, rgba(80,175,220,1) 0%,rgba(60,143,206,1) 50%,rgba(46,122,196,1) 100%);
	height: 34px;
	border: solid #4299d2; border-width: 0px 1px 1px;
}
.header1 li:nth-child(1)::before{
	background-image: url('../img/lcon1.png');
	background-position: center center;
	content:"";
	position:absolute;
	width:40px;
	height:32px;
 	right:120px;
	top:5%;	
}
.header1 li:nth-child(1)::before{
	border-left: 1px solid #56a2dc;
}
.header2 li:last-child{
	margin-right: 47px;
}

.underline{
	text-decoration: underline;
}
.clearfix:after{
     content:'';
     clear:both;
     display:block;
}
.form {
	width: 560px;
	margin: 215px auto;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding: 15px 0;
}
.form div{
	padding: 15px;
}
.form input{
	background-color: #0f0f0f;
	border: none;
	line-height: 35px;
	width: 280px;
	border-bottom: 1px solid #474746;
	color: #fff; 
	text-indent: 20px;
}
.text-input input:focus{
	background-color: #1b5288;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(104, 155, 204, 1);
	-moz-box-shadow:    0px 0px 8px 0px rgba(104, 155, 204, 1);
	box-shadow:         0px 0px 8px 0px rgba(104, 155, 204, 1);  
	color: #fff;     
}
h1{
	font-size: 24px;
	font-weight: bold;
}
label{
	color: #ccc;
}
.bottom-text{
	font-size: 11px;
}
#sibscribe{
	width: 20px;
}

.title{
	border-bottom: 2px rgba(255,255,255,0.5) solid;
}
.lines p:first-child {
  overflow: hidden;
  position: relative;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  color: #999;
}
.lines p:first-child:before,
.lines p:first-child:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 23%;
  height: 2px;
  vertical-align: middle;
  background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(102,102,102,1) 50%,rgba(0,0,0,1) 51%,rgba(0,0,0,1) 100%);
}
.lines p:first-child:before {
  left: -10px;
  margin-left: -50%;
}
.lines p:first-child:after {
  left: 10px;
  margin-right: -50%;
}
.form div:nth-child(8){
	padding-right: 70px;
}

.btn{
	 width: 150px;
	 height: 34px;
	 color: #ffffff;
	 background: -webkit-linear-gradient(top, rgb(80,174,219) 0%,rgb(46,122,196) 100%);
     border:none;
     cursor: pointer;
     -webkit-box-shadow: 0px 0px 1px 1px rgba(86,162,221,1);
     -moz-box-shadow: 0px 0px 1px 1px rgba(86,162,221,1);
     box-shadow: 0px 0px 1px 1px rgba(86,162,221,1);
}
.btnFB{
	 width: 280px;
	 height: 35px;
	 color: #ffffff;
	 background: -webkit-linear-gradient(top, rgb(61,86,150) 0%,rgb(48,66,114) 100%);
	 border:none;
     border-radius: 2px;
     cursor: pointer;
     border-top: 1px solid #7589bb;
}
.bigF{
	float: left;
	font-weight: bold;
	font-size: 26px;
	padding: 0px 10px;
}
.btn:hover{
	background: -webkit-linear-gradient(top, rgb(80,174,219) 0%,rgb(46,122,196) 40%);
}
.btnFB:hover{
	background: -webkit-linear-gradient(top, rgb(61,86,150) 0%,rgb(48,66,114) 40%);
}
.log{
	float: left;
	font-weight: bold;
	font-size: 14px;
	padding: 0px 5px;
}
.bla{
	float: left;
	font-weight: bold;
	font-size: 14px;
	padding: 8px 15px;
}
.log:before {
  content: '';
  display: inline-block;
  margin-right: 15px;
  width: 2px;
  height: 33px;
  vertical-align: middle;
  background: -webkit-linear-gradient(left, rgba(31,61,115,1) 0%,rgba(31,61,115,1) 50%,rgba(76,104,169,1) 51%,rgba(76,104,169,1) 100%);
}