body{
	 background-color:#f9f9f9;

}

.wrapper{
	 width:972px;
	 background-color:#ffffff;
	 border-right:1px solid #dbdbdb;
	 border-left:1px solid #dbdbdb;
	 margin: 0 auto;
	 padding: 50px 46px;
	 -webkit-box-shadow: 0px 0px 4px 0px rgba(219,219,219,1);
	 -moz-box-shadow: 0px 0px 4px 0px rgba(219,219,219,1);
	 box-shadow: 0px 0px 4px 0px rgba(219,219,219,1);
}

/*HEADER*/

.logo{
	margin-bottom: 40px;
}
.navigation{
	 background: linear-gradient(to top, #444343,#5e5e5e);
}
.navigation li{
	 float: left;
	 margin:0 1px;
}
.clearfix:after{
     content:'';
     clear:both;
     display:block;
}
.navigation a{
	 color: #ffffff;
	 text-decoration: none;
	 font: 14px sans-serif;
	 line-height: 40px;
	 padding:0 40px;
}
.navigation li:hover{
	 border-right:1px solid #dbdbdb;
     border-left:1px solid #dbdbdb;
     background: linear-gradient(to top, #2e2e2e,#4a4a4a);
     margin:0;
}

/*SIDEBAR*/

.sidebar{
	 float: left;
	 border: 1px solid #c8c8c8;
	 margin-top: 45px;
	  
}
.sidebar a{ 
	 display: block; 
	 width: 214px; 
	 padding: 0 0 0 23px; 
	 line-height: 39px; 
	 text-decoration: none; 
	 color: #656363;
}
.sidebar li{
	 border-top: 1px solid #c8c8c8;
}
.sidebar li a:hover{
     width: 202px;
     padding: 0 0 0 35px;
     background-color: #f9f9f9;
     color: #2c2c2c;
     -webkit-transition-duration: 0.3s;
     -o-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
     transition-duration: 0.3s;
}
.sidebar li:first-child{
	border: none;
}

/*CONTENT*/

.content{
	 float:right;
	 width: 678px;
	 margin-top: 45px;
	  
}
.content_img{
     border: 1px solid #c8c8c8;
     text-align: center;
	 padding: 46px 87px;
}
.description{
	 padding: 35px 20px 0 20px;
	 font-size: 10pt;
	 line-height: 15pt;
	 color: #2c2c2c;
	 font-family: sans-serif;
	  
}

/*FOOTER*/

.footer{
	 /*width:923px;
	 float: left;*/
	 height: 40px; 
	 margin-top: 60px;
	 padding: 0 24px; 
	 background-color: #e1e1e1;
}
.footer li{
	 float: left;
     margin:0 40px;
}
.footer li:first-child{ 
	 margin-left: 0; 
}
.footer li a,.copy a{ 
	display: block; 
	color: #2c2c2c; 
	text-decoration: none; 
	font: 13px sans-serif; 
	line-height: 40px;
}
.copy{
	float: right;

}
.footer li:hover{
text-decoration: underline;
}
.copy a:hover{
	color: #bc0000;
}
