body{
	background-color:#f9f9f9;

}

.wrapper{
	width:972px;
	background-color:#ffffff;
	border-right:1px solid #dbdbdb;
	border-left:1px solid #dbdbdb;
	margin: 0 auto;
	padding: 50px 46px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(219,219,219,1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(219,219,219,1);
	box-shadow: 0px 0px 4px 0px rgba(219,219,219,1);
}


.nav_menu{
	background-color: #4f4e4e;
	overflow: hidden;
	margin-top: 40px;
}
.nav_menu li {
	float: left;
}
.nav_menu a{
	display: block;
	color: #ffffff;
	text-decoration: none;
	font: 14px sans-serif;
	line-height: 40px;
	padding:0 40px;
}
.nav_menu li:hover{
	background-color: #2f2f2f;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}


.left_menu{
	float: left;
	width: 240px;
	border: 1px solid #c8c8c8;
}
.left_menu li{
	border-top: 1px solid #c8c8c8;
}
.left_menu li:first-child{
	border: none;
}
.left_menu a{
	line-height: 40px;
	color: #7a7878;
	text-decoration: none;
	padding-left: 40px;
}
.left_menu li:hover{
	background-color: #f9f9f9;
}
.left_menu a:hover{
	color: #2c2c2c;
	padding-left: 45px;
}


.content{
	float: right;
	width: 674px;
	border: 1px solid #c8c8c8;
}
.img{
	text-align: center;
	padding: 46px 87px;
}
.container{
	padding: 40px 0;
	overflow: hidden;
}
.description{
	float: right;
	width: 596px;
	padding: 20px 40px 0 40px;
	line-height: 21px;
	font-size: 13px;
	color: #2c2c2c;

}


.footer{
	padding: 40px 0;
}
.footer_menu{
	background-color: #e1e1e1;
	overflow: hidden;
}
.footer_menu li{
	float: left;

}
.footer_menu li:hover{
	text-decoration: underline;
}
.footer_menu a{
	display: block;
	color: #2c2c2c;
	text-decoration: none;
	font: 13px sans-serif;
	line-height: 40px;
	padding:0 45px;
}
.footer li:last-child{
	float: right;
	text-decoration: none;
}
