.wrapper
{
	width: 908px;
	margin: 15px auto;
	font-family: "Lucida Sans Unicode", sans-serif;
	
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 100%;
}

/*HEADER*/


.pnone{
	float: left;
	position: relative;
	margin-top: 10px;
	margin-right: 14px;
}
.pnone li{
	float: left;
	padding-left: 10px;
}

.pnone li:first-child{
	margin-left: 19px;
}
.pnone span{
	display: block;
	color: #5e696d;
}
.pnone:first-child::before{
	background-image: url('../img/icone_phone.png');
	background-position: center center;
	content:"";
	position:absolute;
	width:22px;
	height:22px;
	left:6px;
	bottom: -1px;
}

.wrapper_login{
	float: left;
    width: 500px;
    margin-bottom: 10px;
    background-color: background: rgb(30,99,131); 
    background: -webkit-linear-gradient(rgba(30,99,131,1) 0%, rgba(19,70,106,1) 51%, rgba(13,52,88,1) 100%);
    background: -o-linear-gradient(rgba(30,99,131,1) 0%, rgba(19,70,106,1) 51%, rgba(13,52,88,1) 100%);
    background: linear-gradient(rgba(30,99,131,1) 0%, rgba(19,70,106,1) 51%, rgba(13,52,88,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e6383', endColorstr='#0d3458',GradientType=0 ); 
    border: 1px solid;
    border-color: #a6c3cf #d7e3e8 #4e647a #d7e3e8;
    border-radius: 5px;
    box-shadow: -webkit-box-shadow: 5px 5px 5px 0px rgba(192,192,192,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(192,192,192,1);
	box-shadow: 5px 5px 5px 0px rgba(192,192,192,1);
}
.wrapper_login section{
	float: left;
	padding: 3px 0px 3px 24px;
	position: relative;
}
input{
	margin-right: 5px;
	height: 14px;
}

section:first-child::before{
	background: url(../img/icone_man.png) 0 0 no-repeat;
	background-position: center center;
	content:"";
	position:absolute;
	width:14px;
	height:18px;
	left:5px;
}
.menu_login li{
	float: right;
}
.menu_login li a{
    display: block;
    line-height: 25px;
    color: #000;
    text-decoration: none;
    font-size: 10px;
}


.sprite{
	position: relative;
	overflow: hidden;
}
.sprite li{
	float: left;
}
.sprite a{
	display: block;
	width: 15px;
	height: 11px;
	background: url(../img/icone_sprite.png) 0 0 no-repeat;
}
.sprite .map{
	background-position: -19px 0;
}
.sprite .mail{
	background-position: -39px 0;
}
.sprite a:hover{
	background-position: 0 -12px;
}
.sprite .map:hover{
	background-position: -19px -12px;
}
.sprite .mail:hover{
	background-position: -39px -12px;
}


.banner{
	clear: both;
	height: 236px;
	background: url(../img/index_banner.jpg) 0 0 no-repeat;

}

/*CONTENT*/


.menu_main{
	background: -webkit-linear-gradient(top, rgba(72,81,96,1) 1%,rgba(32,35,38,1) 26%,rgba(2,2,2,1) 99%);
	border: 1px solid #14192d;
	border-radius: 5px;
	-webkit-box-shadow: 0px 7px 7px 0px rgba(171, 171, 171, 0.7);
	-moz-box-shadow:    0px 7px 7px 0px rgba(171, 171, 171, 0.7);
	box-shadow:         0px 7px 7px 0px rgba(171, 171, 171, 0.7);
	/*width: 910px;*/
	margin: 8px auto;
}
.menu_main li{
	float: left;  
}
.basket {
	float: right;
}
.basket li a{
	font-size: 11px;
}

.menu_main a{
	text-decoration: none;
	line-height: 31px;
	font-size: 13.64px;
	color: #879093;
	padding:5px 10px;
	margin-left: 1px;
}
.menu_main li a:hover{
	border-radius: 20px;
	background: -webkit-linear-gradient(top, rgba(31,103,135,1) 1%,rgba(22,78,112,1) 50%,rgba(12,51,87,1) 99%);
	color: #ffffff;
	border-bottom: 1px solid #092036;
	border-top: 1px solid #25617b;
}

.search_car, .search_tires, .search_wheels{
	float: left;
	height: 105px;
	padding: 20px 13px 9px 19px;
	border-radius: 16px;
	border: 2px solid #b8b8b9;
	margin-bottom: 15px;
}

.search_car{
	width: 380px;
	margin-right: 14px;
}
.search_tires{
	width: 157px;
	margin-right: 10px;
}
.search_wheels{
	width: 232px;
}
aside{
	 float: left;
	 width: 185px;
	 height: 630px;
}
.main{
	 float: left;
	 width: 500px;
	 height: 600px;
	 background: rgb(228,231,232); /* Old browsers */
     background: -moz-linear-gradient(top,  rgba(228,231,232,1) 0%, rgba(200,208,212,1) 25%, rgba(166,182,189,1) 49%, rgba(148,167,176,1) 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top,  rgba(228,231,232,1) 0%,rgba(200,208,212,1) 25%,rgba(166,182,189,1) 49%,rgba(148,167,176,1) 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom,  rgba(228,231,232,1) 0%,rgba(200,208,212,1) 25%,rgba(166,182,189,1) 49%,rgba(148,167,176,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e7e8', endColorstr='#94a7b0',GradientType=0 ); /* IE6-9 */
     padding: 15px 10px;
 }
figure {
	display: inline-block;
	margin: 2px 16px 40px;
}
figure img {
	display: block;
	border: 1px solid #bfc6c8;
	border-radius: 8px;
	padding: 4px 25px;
	background-color: #fff;
}
figcaption span{
	font-size: 15px;
	color: #206988;
	text-align: center;
}
.price{
	color: #114165;
	font: 16px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
figcaption{
	font-size: 12px;
	text-align: center;
}

.content li a{
	text-decoration: none;
	color: #465961;
	font-size: 12px;
}
.content li{
	color: #465961;
	background: url(../img//icone_grey.png) no-repeat 0 4px; /* Параметры фона */
    padding-left: 10px;
}

/*FOOTER*/

footer{
	background: #213a4d;
	height: 80px;
	padding: 9px 293px;
}

.footer_menu{
	float: left;

}
.footer_menu li{
	float: left;
	border-left: 1px solid #879093;
}
.footer_menu a{
	text-decoration: none;
	font-size: 11px;
	color: #bec6c9;
	padding: 0px 14px;

}
.footer_menu  li a:hover{
	color: #458fab;
}
.copy{
	padding: 30px 80px;
}

.copy a{
	text-decoration: none;
	color: #7f4740;
	font-size: 10px;
}
.footer_photo {
	
	height: 90px;
	background: url(../img/icone_brands.png) center center no-repeat;

}