.wrapper
{
	width: 920px;
	margin: 15px auto;
	font-family: "Lucida Sans Unicode", sans-serif;
	
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 100%;
}

/*HEADER*/


.pnone{
	float: left;
	position: relative;
	margin-top: 10px;
	margin-right: 14px;
}
.pnone li{
	float: left;
	padding-left: 10px;
}

.pnone li:first-child{
	margin-left: 19px;
}
.pnone span{
	display: block;
	color: #5e696d;
}
.pnone:first-child::before{
	background-image: url('../img/icone_phone.png');
	background-position: center center;
	content:"";
	position:absolute;
	width:22px;
	height:22px;
	left:6px;
	top:-5px;
}

/*формочка для логина и регистрации*/

.wrapper_login{
	float: left;
    width: 495px;
    margin-bottom: 10px;
    background-color: background: rgb(30,99,131); 
    background: -webkit-linear-gradient(rgba(30,99,131,1) 0%, rgba(19,70,106,1) 51%, rgba(13,52,88,1) 100%);
    background: -o-linear-gradient(rgba(30,99,131,1) 0%, rgba(19,70,106,1) 51%, rgba(13,52,88,1) 100%);
    background: linear-gradient(rgba(30,99,131,1) 0%, rgba(19,70,106,1) 51%, rgba(13,52,88,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e6383', endColorstr='#0d3458',GradientType=0 ); 
    border: 1px solid;
    border-color: #a6c3cf #d7e3e8 #4e647a #d7e3e8;
    border-radius: 5px;
    box-shadow: -webkit-box-shadow: 5px 5px 5px 0px rgba(192,192,192,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(192,192,192,1);
	box-shadow: 5px 5px 5px 0px rgba(192,192,192,1);
     margin-right: 16px;
}
.wrapper_login section{
	float: left;
	padding: 3px 0px 3px 24px;
	position: relative;
}
input{
	margin-right: 5px;
	height: 14px;
}

section:first-child::before{
	background: url(../img/icone_man.png) 0 0 no-repeat;
	
	content:"";
	position:absolute;
	width:14px;
	height:18px;
	left:7px;
	margin-top: 2px;
}

/*оформление вход\регистрация\забыли пароль*/

form .button, button {
	border: none;
	background: none;
	color: #fff;
	font-size: 11px;
	padding: 2px;
	cursor: pointer;
}

button:before{
	background-image: url('../img/icone_line.png');
	background-position: center center;
	content:"";
	position:absolute;
	width:2px;
	height:10px;
 	right: 71px;
    top: 32%;
}

.pass_link {
     color: #bfbfbf;
	 text-decoration: underline;
	 font-size: 12px;
	 line-height: 25px;
	 margin-left: 20px;
}


/*спрайт главная карта мыло*/

.sprite{
	position: relative;
	overflow: hidden;
	border: 1px solid #c3c9cc;
	width: 50px;
	border-radius: 37px;
    padding: 5px 12px;
}
.sprite li{
	float: left;
}
.sprite a{
	display: block;
	width: 16px;
	height: 11px;
	background: url(../img/icone_sprite.png) 0 0 no-repeat;
}
.sprite .map{
	background-position: -19px 0;
}
.sprite .mail{
	background-position: -40px 0;
}
.sprite a:hover{
	background-position: 0 -12px;
}
.sprite .map:hover{
	background-position: -19px -12px;
}
.sprite .mail:hover{
	background-position: -40px -12px;
}


.banner{
	clear: both;
	height: 236px;
	background: url(../img/index_banner.jpg) 0 0 no-repeat;
}

/*CONTENT*/

.menu {
	margin-left: 130px;
}

.menu_main{
	background: -webkit-linear-gradient(top, rgba(72,81,96,1) 1%,rgba(32,35,38,1) 26%,rgba(2,2,2,1) 99%);
	border: 1px solid #14192d;
	border-radius: 5px;
	-webkit-box-shadow: 0px 7px 7px 0px rgba(171, 171, 171, 0.7);
	-moz-box-shadow:    0px 7px 7px 0px rgba(171, 171, 171, 0.7);
	box-shadow:         0px 7px 7px 0px rgba(171, 171, 171, 0.7);
    margin: 8px 1px 10px;
    width: 905px;
}
.menu_main li{
	float: left;  
}

.menu_main a{
	text-decoration: none;
	line-height: 31px;
	font-size: 13.64px;
	color: #879093;
	padding: 5px 15px;
	
}
.menu_main li a:hover{
	border-radius: 20px;
	background: -webkit-linear-gradient(top, rgba(31,103,135,1) 1%,rgba(22,78,112,1) 50%,rgba(12,51,87,1) 99%);
	color: #ffffff;
	border-bottom: 1px solid #092036;
	border-top: 1px solid #25617b;
}

.basket {
	float: right;
}

.basket li {
	position: relative;
}

.menu_main .basket a{
	font-size: 11px;
	padding: 10px 15px;
}

.basket li a:hover{
	border-radius: none;
	background: none;
	color: #ffffff;
	border: none;
}

.basket li:first-child::before{
	background-image: url('../img/icone_basket.png');
	background-position: center center;
	content:"";
	position:absolute;
	width:20px;
	height:20px;
 	right: 70px;
    top: 15%;
}

.search_car, .search_tires, .search_wheels{
	float: left;
    height: 105px;
    padding: 20px 13px 9px 19px;
    border-radius: 16px;
    border: 1px solid #b8b8b9;
    margin-bottom: 15px;
}

.search_car{
	width: 382px;
    margin-right: 13px;
    margin-left: 3px;
}
.search_tires{
	width: 157px;
	margin-right: 10px;
}
.search_wheels{
	width: 232px;
}

aside{
	 float: left;
	 width: 185px;
	 height: 630px;
}
.main{
	 float: left;
	 width: 508px;
	 height: 600px;
	 background: rgb(228,231,232); /* Old browsers */
     background: -moz-linear-gradient(top,  rgba(228,231,232,1) 0%, rgba(200,208,212,1) 25%, rgba(166,182,189,1) 49%, rgba(148,167,176,1) 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top,  rgba(228,231,232,1) 0%,rgba(200,208,212,1) 25%,rgba(166,182,189,1) 49%,rgba(148,167,176,1) 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom,  rgba(228,231,232,1) 0%,rgba(200,208,212,1) 25%,rgba(166,182,189,1) 49%,rgba(148,167,176,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e7e8', endColorstr='#94a7b0',GradientType=0 ); /* IE6-9 */
     padding: 15px 10px;
     margin: 0px 4px 0px 4px;
 }
figure {
	display: inline-block;
	margin: 2px 14px 30px;
}
figure img {
	display: block;
	border: 1px solid #bfc6c8;
	border-radius: 8px;
	padding: 5px 28px;
	background-color: #fff;
}
figcaption span{
	font-size: 15px;
	color: #206988;
	text-align: center;
}
.price{
	color: #114165;
	font: 16px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
figcaption{
	font-size: 12px;
	text-align: center;
}
.icone_list span{
	background: url(../img/icone_list.png) 1% 8% no-repeat; 
    padding-left: 25px;
    padding-bottom: 25px;
    width: 25px;
    font-size: 13px;
}
.icone_list{
	width: 180px;
	border: 1px solid #465961;
	border-radius: 25px;
	height: 25px;
	margin-bottom: 15px;
}
.icon span{
	background: url(../img/icon.png) 1% 19%  no-repeat; 
    padding-left: 25px;
    width: 25px;
    padding-bottom: 25px;

    
}
.icon {
	width: 150px;
	border: 1px solid #465961;
	border-radius: 25px;
	height: 25px;
}

.content li a{
	text-decoration: none;
	color: #465961;
	font-size: 12px;
}
.content li{
	color: #465961;
	background: url(../img//icone_grey.png) no-repeat 28px 4px;
    padding-left: 40px;
    margin: 8px;
}
.btn{
	 width: 80px;
	 height: 25px;
	 color: #ffffff;
	 background: rgb(31,101,133); /* Old browsers */
     background: -webkit-linear-gradient(rgba(31,101,133,1) 0%, rgba(22,78,112,1) 50%, rgba(13,52,88,1) 100%);
     background: -o-linear-gradient(rgba(31,101,133,1) 0%, rgba(22,78,112,1) 50%, rgba(13,52,88,1) 100%);
     background: linear-gradient(rgba(31,101,133,1) 0%, rgba(22,78,112,1) 50%, rgba(13,52,88,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6585', endColorstr='#0d3458',GradientType=0 ); /* IE6-9 */
     border:none;
     cursor: pointer;
     -webkit-box-shadow: 0px 0px 1px 1px rgba(86,162,221,1);
     -moz-box-shadow: 0px 0px 1px 1px rgba(86,162,221,1);
     box-shadow: 0px 0px 1px 1px rgba(86,162,221,1);
     border-radius: 25px;
}

.brands label {
	display: block;
	padding-left: 40px;
    margin: 8px;
}



/*FOOTER*/

.photo_line {
    width: 905px;
    margin: 42px auto 24px auto;
}

.photo_line ul {
	text-align: center;
}

.photo_line ul li{
	margin-right: 7px;
	display: inline-block;
}

footer{
	background: #213a4d;
	height: 80px;
	padding: 9px 293px;
}

.footer_menu{
	float: left;
}

.footer_menu li{
	float: left;
}

/*:before{
	background-image: url('../img/icone_line.png');
	background-position: center center;
	content:"";
	position:absolute;
	width:2px;
	height:10px;
 	right: 71px;
    top: 32%;
}*/

.footer_menu a{
	text-decoration: none;
	font-size: 11px;
	color: #bec6c9;
	padding: 0px 14px;
}

.footer_menu  li a:hover{
	color: #458fab;
}

.copy{
	padding: 30px 80px;
}

.copy a{
	text-decoration: none;
	color: #7f4740;
	font-size: 10px;
}

