body{
	
background: rgb(26,207,227); 
background: -moz-linear-gradient(top,  rgba(26,207,227,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 17%, rgba(255,255,255,1) 18%, rgba(18,205,225,1) 19%, rgba(22,151,181,1) 63%, rgba(14,128,166,1) 84%, rgba(12,115,159,1) 100%); 
background: -webkit-linear-gradient(top,  rgba(26,207,227,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 17%,rgba(255,255,255,1) 18%,rgba(18,205,225,1) 19%,rgba(22,151,181,1) 63%,rgba(14,128,166,1) 84%,rgba(12,115,159,1) 100%); 
background: linear-gradient(to bottom,  rgba(26,207,227,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 17%,rgba(255,255,255,1) 18%,rgba(18,205,225,1) 19%,rgba(22,151,181,1) 63%,rgba(14,128,166,1) 84%,rgba(12,115,159,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1acfe3', endColorstr='#0c739f',GradientType=0 ); 
}
.wrapper{
     margin: 35px auto;
     width: 1000px;
     background-color: #ffffff;
     font-family: Tahoma, sans-serif;
     -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 1);
     -moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 1);
     box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 1);
     border-bottom: 2px solid #000000;
 }
.clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 100%;
}

/*HEADER*/

.logo{
	 float: left;
	 margin: 0px 30px;
}
.contacts{
	 float: right;
	 margin: 10px 30px;
	 font-size: 10pt;
	 color: #128aa7;
}
.contacts li:first-child{
	font-weight: bold;
}
.contries{
	 float: right;
	 margin: 10px 30px;
}
.contries li{
	 position: relative;
     float: left;
     list-style: none;
     text-align: center;
}
.contries li a{
	 position: relative;
	 display: block;
	 font-size: 8pt;
	 padding: 10px;
     color: #128aa7;
 }
 .contries img{
 	display: block;
}
.navigation{
	 border-bottom: 1px solid #000;
	 background: rgb(55,55,55); 
	 background: -moz-linear-gradient(top,  rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%); 
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(48,48,48,1))); 
	 background: -webkit-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); 
	 background: -o-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); 
	 background: -ms-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); 
	 background: linear-gradient(to bottom,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); 
	 box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.navigation li{
	position: relative;
    float: left;
    list-style: none;
}
.navigation li a{
	position: relative;
    padding: 0 33px;
    display: block;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.nanavigation img{
	display: block;
}
.navigation  ul{
  position: absolute;
  left: 23px;
  visibility: hidden;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
}
.navigation li:hover ul{
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.navigation ul li{
  background: #303030;
}
.navigation ul a{
  padding: 0 10px;
}

/*CONTENT*/

.content{
	 overflow: hidden;
}

.info{
	 width: 200px;
	 float: left;
	 padding: 10px 10px 0px;
	 background-color: #edeef0;
	 border: 1.5px solid #c7cacf;
	 padding-bottom: 20000px;
	 margin-bottom: -20000px;
}
.info p, .news p{
	font-family: Tahoma, sans-serif;
	 font-size: 10pt;
	 color: #424c43;
	 line-height: 25px;
	 text-align: center;
}
h2{
	 font-size: 16pt;
	 font-weight: bold;
	 text-align: center;
	 color: #424c43;
}
.center{
	 width: 556px;
	 float: left;
	 background-color: #ffffff;
	 padding-bottom: 20000px;
	 margin-bottom: -20000px;
}
.news{
	 width: 200px;
	 float: right;
	 padding: 10px 10px 0px;
	 background-color: #edeef0;
	 border: 1.5px solid #c7cacf;
	 padding-bottom: 20000px;
	 margin-bottom: -20000px;
}

/*FOOTER*/

.footer{
	margin: 12px;
}
p{
	text-align: center;
	color: #cee3ec;
}

