body{
	background-color:#f9f9f9;

}
.wrapper{
	width:1064px;
	background-color:#ffffff;
	border-right:1px solid #dbdbdb;
	border-left:1px solid #dbdbdb;
	margin: auto;
}
.img{
	padding: 49px 87px;
	border: 1px solid #dbdbdb;
	margin: 40px 51px;
	float: right;

}
.logo{
	padding: 49px;
}
.nav_menu{
	font:14px sans-serif;
	width: 965px;
	background-color: #535252;
	margin: auto;
	text-align: left;
	overflow: hidden;
}
.nav_menu ul li a{
	text-decoration: none;
	color:#ffffff;
}

.nav_menu ul li{
	display: inline-block;
	padding-right: 60px;
}
.left_menu{
	font:14px sans-serif;
	text-align: left;
	margin-right: 5px;
}
.left_menu ul li a{
	text-decoration: none;
	color: #7a7878;
}
.left_menu ul li{
	display: block;
	color: #000000;
}

.footer{
	font:14px sans-serif;
	width: 965px;
	background-color: #e1e1e1;
	margin: auto;
	text-align: left;
	overflow: hidden;
}
.footer ul li a{
	text-decoration: none;
	color: #000000;
}
.footer ul li{
	display: inline-block;
	padding-right: 60px;
}
p{
	text-align: right;
}